

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {

}
.container .container_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem 9%;
    align-items: center;
    background: #fff;
}