@media screen and (max-width: 768px) {
    
    /* Register */
    .container .container_title {
        display: none;
    }
    .container .container_from {
        width: 90%;
        padding: 30px 0;
    }
}

@media screen and (max-width: 440px) {
    
}