
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    background: #fff;
    border: 1px solid #ccc;
    width: 52vw;
    height: 480px;
    background: red;

}